#divAll {
  display: flex;
  flex-wrap: wrap;
  margin-right: 55px;
  width: 100%;
}

.smallRecipe {
  width: 30%;
}

#filter {
  text-align: right;
  right: 0px;
  padding: 0px;
  color: white;
  width: 20vw;
  height: 100vh;
  top: 15%;
  mat-form-field {
    width: 100%;
  }
}

#filt {
  position: fixed;
  top: 210px;
  right: 20px;
  text-align: right;
}

#all {
  display: flex;
  flex-wrap: nowrap;
  width: calc(100% - 20vw);
  margin-right: calc(20vw);
}

.inp {
  margin-bottom: 15px;
  margin-top: 15px;
}


form {
  width: 100%;

  .example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 120px;
    background: #f1f1f1;
  }
}

#filterbutton {
  width: 100%;
}

form.example button {
  float: left;
  width: 25%;
  padding: 10px;
  background: darkred;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: darkgray;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

form.example {
  display: inline;
  display: inline-flex;
  margin: auto;
}
//shoshi
.example-button-row {
  display: table-cell;
  max-width: 600px;
}

:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input {
  text-align: right;
}