
#divAll{
    height: 100%;
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    gap: 12vw;
    margin-right:5vw ;
    position: relative;
    
 }
 .smallRecipe{
    height: 30vh;
}
#filter{
    // display: inline;
    right: opx;;
    padding: 0px;
    background-color: black;
    color: white;
    width: 20vw;
    height: 100vh;
    position: sticky;
    top: 0;
}
#filt{
display: inline;
position: sticky;
top: 0px;
right: 0px;
}
#all{
    display: flex;
    flex-wrap: nowrap;
}
#a{
display: inline;
}
.inp{
    margin-bottom: 15px;
    margin-top: 15px;
}

* {
    box-sizing: border-box;
  }
  
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: darkred;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  form.example button:hover {
    background: darkgray;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
  form.example{
    display: inline;
    display: inline-flex;
    margin: auto;
  }