<div id="big">
  <div id="login">
    <label for="name">שם:</label><br>
    <input type="text" name="name" value="name" placeholder="name" [(ngModel)]="myUser.Name" id="name"/><br>
    <label for="pass">סיסמא:</label><br>
    <input type="password" name="password" [(ngModel)]="myUser.Password" id="pass"/>
    <p *ngIf="isWrongPassword"> !!סיסמא שגויה</p><br><br>
    <input type="button" (click)="login()" value="Login" /><br><br><br>
    <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
    <label class="form-check-label" for="form2Example31"> Remember me </label><br>
  </div>
</div>