form table,form{
    margin: auto;
    text-align: center;
}
.example-full-width{
    width: 40vw;
    text-align: center;
    text-align: right;
}
.short{
    width: 40vw;
    text-align: right;
}
#savebutton{
    top:5%;
    margin-bottom: 8%;
    width:160px;
}