<h2>עריכת מתכון:{{recipe.Name}}</h2>
<form class="example-form" *ngIf="recipe">
    <table class="example-full-width" cellspacing="0">
        <tr>
            <td>
                <mat-form-field class="example-full-width" class="short" appearance="fill">
                    <mat-label> שם המתכון</mat-label>
                    <input matInput type="text" value="{{recipe.Name}}" name="name1" [(ngModel)]="recipe.Name">
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field class="example-full-width" class="short" appearance="fill">
                    <mat-label>דרגה</mat-label>
                    <input matInput type="number" value="{{recipe.Level}}" name="level" [(ngModel)]="recipe.Level">
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field class="example-full-width" class="short" appearance="fill">
                    <mat-label>דקות הכנה</mat-label>
                    <input matInput type="number" name="preparationTimeInMinute"
                        value="{{recipe.PreparationTimeInMinute}}" [(ngModel)]="recipe.PreparationTimeInMinute">
                </mat-form-field>
            </td>
        </tr>
    </table>
    <table class="example-full-width" cellspacing="0" class="short">
        <mat-form-field appearance="fill" class="input" class="short" appearance="fill">
            <mat-label>קטגוריה</mat-label>
            <mat-select [(ngModel)]="recipe.CategoryId">
                <mat-option *ngFor="let c of categoryArry;" [value]="c.Id">
                    {{c.Name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </table>
    <h2>רכיבים:</h2>
    <table *ngFor="let x of recipe.Layers;let i=index">
        <tr>
            <td>
                <mat-form-field class="example-full-width" class="short" appearance="fill">
                    <mat-label> תאור שכבה {{i+1}}</mat-label>
                    <input matInput [ngModelOptions]="{standalone: true}" type="text"
                        value="recipe.Layers[i].Description" [(ngModel)]="recipe.Layers[i].Description" name="first">
                </mat-form-field>
            </td>
        </tr>
        <tr *ngFor="let y of recipe.Layers[i].Components;let j=index">
            <td>
                <mat-form-field class="example-full-width" class="short" appearance="fill">
                    <mat-label> רכיב {{j+1}}</mat-label>
                    <input matInput [ngModelOptions]="{standalone: true}" type="text"
                        value="recipe.Layers[i].Components[j]" [(ngModel)]="recipe.Layers[i].Components[j]" name="f">
                </mat-form-field>
            </td>
        </tr>
    </table>
    <h2>אופן ההכנה:</h2>
    <table class="example-full-width" cellspacing="0">
        <tr *ngFor="let item of recipe.Preparation; let i=index">
            <td>
                <!-- <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label> שלב{{i+1}}</mat-label>
                    <input matInput [ngModelOptions]="{standalone: true}" type="text" value="{{item}}"
                        [(ngModel)]=" recipe.Preparation[i]" name="preparation">
                </mat-form-field> -->
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>שלב {{i+1}}</mat-label>
                    <textarea matInput [ngModelOptions]="{standalone: true}" name="preparation" placeholder="אופן ההכנה" [(ngModel)]="recipe.Preparation[i]"></textarea>
                  </mat-form-field>
            </td>
        </tr>
    </table>
</form>
<button mat-raised-button (click)="editRecipe()" id="savebutton"
    style="background-color: rgba(239, 238, 238, 0.945);">שמור</button>