header {
  position: sticky;
  top: 0;
}

.page-wrapper {
  height: calc(100vh - 186px);
  overflow-y: auto;
}

ul {
  right: 0px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(82, 82, 82);
  direction: rtl;
  display: flex;
}

li {
  float: left;
  cursor: pointer;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

#logo {
  height: 100px;
}

nav {
  text-align: left;
}

body {
  text-align: center;
}

footer {
  position: fixed;
  bottom: 0px;
}

footer img {
  height: 30px;
}

.footer {
  display: inline-block;
}

.footer * {
  margin: auto;
  font-size: 17px;
  font-weight: 100;
  width: 100vw;
  height: 2vh;
}

.new_button {
  background-color: #f74071;
  width: 94%;
  border: none;
}

#new_button {
  background-color: #000000;
  color: white;
  border: none;
  width: 100%;
  font-weight: 100;
}

.address {
  position: relative;
  display: inline-block;
  margin-top: -60px;
}

.in_address {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 110px;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
  z-index: 1;
  text-align: center;
  margin-top: -90px;
}

.address:hover .in_address {
  display: block;
}

content {
  text-align: center;
}

/*עיצוב לפסקה*/
.mashov {
  text-align: center;
  font-size: x-large;
}

#text {
  font-size: medium;
  margin: 50px 100px 100px 100px;
  text-align: start;
}

span {
  text-align: center;
  font-size: larger;
  font-weight: bolder;
}

video {
  width: 600px;
  float: left;
}

header footer {
  color: white;
  width: 100vw;
  height: 50px;
  font-size: 20px;
  background-color: black;
  right: 0px;
  position: sticky;
  top: 0%;
}

#hello {
  position: absolute;
  left: 0;
}