<div *ngIf="recipe">
    <h1>{{recipe?.Name}}</h1>
    <img src="../../assets/images/{{recipe.Image}}" />
    <h2>רכיבים</h2>
    <div *ngFor="let x of recipe.Layers">
        <h3>{{x.Description}} </h3>
        <p *ngFor="let y of x.Components">
            {{y}}
        </p>
    </div>
    {{recipe.PreparationTimeInMinute|timePipe}}
    <h3>אופן ההכנה</h3>
    <ol>
        <li *ngFor="let item of recipe.Preparation">{{item}}</li>
    </ol>
    <button mat-raised-button (click)="check()" id="btn" style="background-color: rgba(239, 238, 238, 0.945);">עריכת
        מתכון</button>
</div>