<div id="big">
    <div id="login">
        <form #myForm="ngForm">
            <label>שם:</label><br>
            <input type="text" name="name" value="name" placeholder="name" [(ngModel)]="myUser.Name" #name="ngModel"
                required /><br>
            <p *ngIf="name.touched&&name.errors?.['required']">שם זהו שדה חובה</p><br>
            <label>סיסמא:</label><br>
            <input type="password" name="password" [(ngModel)]="myUser.Password" placeholder="password"
                #password="ngModel" required /><br>
            <p *ngIf="password.touched&&password.errors?.['required']"> סיסמא זהו שדה חובה</p><br>
            <label>דוא"ל:</label><br>
            <input type="text" name="email" value="email" [(ngModel)]="myUser.Mail" placeholder="email"
                [formControl]="email" required /><br>
            <mat-error id="error" *ngIf="email.touched && email.invalid">{{getErrorMessage()}}</mat-error><br>
            <label>כתובת:</label><br>
            <input type="text" name="adress" value="adress" [(ngModel)]="myUser.Address" placeholder="address"
                #adress="ngModel" required /><br>
            <p *ngIf="adress.touched&&adress.errors?.['required']"> סיסמא זהו שדה חובה</p><br>
            <input type="button" (click)="register()" value="Register" /><br>
            <p *ngIf="isWrongPassword==true">alraedy exisits user with this name and another password</p>
            <p *ngIf="isWrongPassword==false">exists alraedy </p>
            <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
            <label class="form-check-label" for="form2Example31"> Remember me </label><br>
        </form>
    </div>
</div>